@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'roboto', 'sans-serif';
}

/* black theme */
.dark {
    --nav-cor: #1a1e24;
    --bg-cor: #1f242d;
    --bg-cor-2: #2b303a;
    --titulo-cor: #dd2e2e;
    --text-cor: #fff;
    --text2-cor: #963d3d;
    --main-cor: #0ef;
}

/* white theme */
:root {
    --nav-cor: #3f51b5;
    --titulo-cor: #dd2e2e;
    --nav-hover: #C0C0C0;
    --footer-hover: #525151;
    --bg-cor: #fff;
    --btn: #3f51b5;
    --bg-cor-2: #f5e2e2;
    --text-cor: #000000;
    --main-cor: #000000;
    --agro: #3bc519;
    --si: #3bc519;
    --ads: #3bc519;
    --gestao: #3bc519;
    --navText-cor: #fff;
}

html {
    font-size: 62.5%;
}

html::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f5;
    padding: 0;
}


body {
    background: var(--bg-cor);
    color: var(--text-cor);
}

section {
    min-height: 100vh;
    padding: 4rem 10rem 4rem;
}


/* ---- cabeçalho ---- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--nav-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    /* font-size: 2.5rem; */
    color: var(--text-cor);
    font-weight: 600;
    cursor: default;
    width: 8rem;
    cursor: pointer;
}



.navbar a {
    font-size: 1.7rem;
    color: var(--navText-cor);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--nav-hover);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-cor);
    display: none;
}

/* cabecalho */
.titulo {
    text-align: center;
    font-size: 6.5rem;

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn);
    border-radius: 4rem;
    font-size: 1.6rem;
    box-shadow: 0 0 0.5rem var(--main-cor);
    color: var(--bg-cor-2);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}


.btn:hover {
    box-shadow: 0 0 1rem var(--main-cor);
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(240, 236, 236);
}


.home-conteudo h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-conteudo #midia {
    margin-top: 8rem;
}


.home-conteudo h2 {
    font-size: 3rem;
    font-weight: 700;
}

span {
    color: var(--main-cor);
}

.home-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-conteudo h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 2.3;
}


.home-conteudo p {
    font-size: 2.1rem;
    text-align: center;
    max-width: 63%;
}

.midia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-cor);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-cor);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}


.midia a:hover {
    background: var(--nav-cor);
    color: var(--navText-cor);
    box-shadow: 0 0 1rem var(--main-cor);
}


.home .btn {
    padding: 2rem 3.8rem;
    margin-top: 8rem;
}

.home .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.home .btn:active {
    box-shadow: none;
    transform: translateY(0);
}

/*---- Sobre ---- */


.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row-reverse;
}

.sobre-img img {
    width: 35vw;
    box-shadow: -6px 6px 40px gray;
    border-radius: 20px;
    margin-top: -17rem;
}



.sobre-conteudo h2 {
    text-align: left;
    line-height: 1.2;
}

.sobre-conteudo h {
    font-size: 2.6rem;
}

.sobre-conteudo p {
    font-size: 2.6rem;
    margin: 2rem 0 3rem;
    text-align: left;

}

.sobre-conteudo .btn {
    display: block;
    width: 15rem;
    margin-top: 2rem;
}

/* Cursos */

.cursos {
    padding-top: 2rem;

}

.cursos h2 {
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.cursos-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cursos-conteudo .cursos-box {
    flex: 1 1 50rem;
    background: var(--bg-cor);
    min-height: 42rem;
    max-height: 74rem;
    max-width: 59rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-cor-2);
    transition: transform ease 2s;
    box-shadow: rgb(0 0 0 / 29%) 3px 8px 10px;
}


.cursos-conteudo .cursos-box:hover {
    border-color: var(--main-cor);
    transform: scale(1.02);
    cursor: pointer;
}


.cursos-conteudo .btn:hover {
    box-shadow: 0 0 1rem var(--main-cor);
}




.cursos-box i {
    font-size: 7rem;
    color: var(--nav-cor);
}


.cursos-box h3 {
    font-size: 3rem;
}

.cursos-box h4 {
    font-size: 2.5rem;
    /* gap: 3rem; */
    padding: 2rem;
    color: #363636;
}

.cursos-box p {
    font-size: 2.2rem;
    margin: 1rem 0 3rem;
    font-weight: 100;
}


.cursos-box:nth-child(3) p {
    padding-top: 3.2rem;
}

.cursos-box:nth-child(4) p {
    /* padding-top: 3.5rem; */
    padding-top: 1rem;
}


/* campus */

.campus {
    padding: 4rem 3rem 4rem;
}

.campus h2 {
    font-size: 6.5rem;
    text-align: left;
    text-align: center;
    line-height: 3.2;
    color: var(--nav-cor);
    margin-bottom: 5rem;
    margin-top: 10rem;
}


.campus-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.campus-conteudo .campus-box {
    flex: 0 0 45rem;
    min-height: 36rem;
    padding: 2rem 1rem 0rem;
    border-radius: 2rem;

}

.campus-conteudo img {
    width: 50rem;
    height: 30rem;
    border-radius: 11px;
    box-shadow: rgb(0 0 0 / 29%) 3px 8px 10px;
}

.campus-conteudo .campus-box:hover,
.campus-conteudo img:hover {
    cursor: pointer;

}

.campus-box h4 {
    font-size: 2.5rem;
    /* gap: 3rem; */
    padding: 2rem;
    color: var(--text2-cor);
    font-size: 32px;
    text-align: left;
}


/* Footer */

footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #e0dfdd;
    padding: 0 8.0rem;
}

footer .footer-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 0;
}

footer .footer-conteudo a {
    font-weight: 500;
    font-size: 3.2rem;
    color: var(--text-cor);
    transition: color 0.3s ease;
}

footer .footer-conteudo a :hover {
    color: var(--footer-hover);

}

footer .footer-conteudo span {
    color: var(--text-cor);
    font-weight: 500;
    font-size: 1.8rem;
}



@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-cor);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: .1rem solid rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar a {
        color: var(--text-cor);
    }

    .navbar.active {
        display: block;
    }

    section {
        padding: 5rem 2% 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-conteudo h3 {
        font-size: 2.6rem;
    }

    .home-conteudo h1 {
        font-size: 5rem;
    }

    .home-conteudo {
        text-align: center;
        padding-right: 0;
        padding-top: 7rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .sobre {
        flex-direction: column-reverse;
    }

    .sobre-conteudo h2 {
        text-align: center;
    }

    .sobre-img {

        margin-top: 4rem;
    }


    .sobre-img img {
        width: 73vw;
    }

}

@media (max-width: 1250px) {
    .cursos-conteudo .cursos-box {
        min-height: 81rem;
    }
}

@media (max-width: 1000px) {
    .sobre {
        min-height: 81rem;
        flex-direction: column-reverse;
    }

    .sobre img {
        margin-top: 0;
        width: 80vw;
    }

    .sobre-conteudo p {
        text-align: center;
    }

    .sobre-conteudo .btn {
        margin-bottom: 0rem;
        margin-left: 36%;
    }

    .footer{
        width: 150%;
    }

}


@media (max-width: 490px) {
    #menu-icon {
        display: block;
    }

    section {
        padding: 10rem 10rem 0rem;
        margin-right: -20rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-cor);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: .1rem solid rgba(0, 0, 0, .2);
        display: none;
    }



    .cursos-conteudo .cursos-box {
       max-height: 160rem;
    }


    .campus-conteudo {
        flex-direction: column;
    }

    .sobre-conteudo .btn {
      
        margin-left: 23%;
    }

}